<div id="ld-bottom-bar">
  <ul class="h-full px-2 flex content-center items-center gap-1 text-sm align-middle">
    <li>Body</li>
    <%= for b<-@breadcrumbs do %>
    <li> > </li>
    <li><a><%= b %></a></li>
    <% end %>
  </ul>
</div>