<div id="ld-right-bar">
  <div :if={@select_id}>
    <!-- todo tabs -->

    <!-- attrs -->
    <Panels.editor_attrs :if={@select_component.attrs !=[]} id={@select_id} attrs={@select_component.attrs}/>
    <!-- slots -->
    <Panels.editor_slots :if={@select_component.slots !=[]} id={@select_id} slots={@select_component.slots}/>
  </div>
</div>