<div id="ld" class="overflow-hidden">
  <Bars.top {assigns} />
  <Bars.left {assigns} />
  <Bars.workspace {assigns} />
  <Bars.right {assigns} />
  <Bars.bottom breadcrumbs={@breadcrumbs} />
  <.live_component module={LiveEditorWeb.FileSelector} id="ld-new-file-selector" type="new" />
  <.live_component module={LiveEditorWeb.FileSelector} id="ld-open-file-selector" type="open" />
</div>
