<div class="form-control">
  <label class="input-group">
    <span>
      <%= if @attr.required, do: "*" %><%= @attr.name %>
    </span>
    <% selected = @attr[:value] || @attr[:opts][:default] %>
    <select name={@attr.name} class="select select-bordered">
      <option :for={value<-@attr[:opts][:values]} selected={selected == value}><%= value %></option>
    </select>
  </label>
</div>