<div class="form-control">
  <label class="flex items-center space-x-2">
    <span class="w-24"><span :if={@attr.required}>*</span><%= @attr.name %></span>
    <input type="checkbox" name={@attr.name} value={@attr[:value] || @attr[:opts][:default]} class="toggle"/>
  </label>
</div>