<div class="form-control">
  <label class="input-group">
    <span>
      <%= if @attr.required, do: "*" %><%= @attr.name %>
    </span>
    <input type="checkbox" name={@attr.name} checked={@attr[:value] || @attr[:opts][:default]} class="checkbox"/>
  </label>
</div>