<div class="form-control">
  <label class="flex items-center space-x-2">
    <span class="w-24"><span :if={@attr.required}>*</span><%= @attr.name %></span>
    <input type="number" name={@attr.name} value={@attr[:value]} placeholder={@attr.doc} class="ld-input w-44"/>
  </label>
</div>