<div class="form-control">
  <label class="input-group">
    <span>
      <%= if @attr.required, do: "*" %><%= @attr.name %>
    </span>
    <input type="text" name={@attr.name} value={@attr[:value]} placeholder={@attr.doc} class="input input-bordered"/>
  </label>
</div>