<div class="divider"> Slots </div>
<form class="m-4" phx-change="slot_changed">
  <div class="space-y-4 bg-white mt-10">
    <div :for={{name, slot}<-@select_component.slots} class="form-control">
      <label class="label">
        <span class="label-text">
          <span :if={slot.required}>*</span><%= name %>
        </span>
        <textarea name={name} class="textarea textarea-bordered h-24" placeholder="Bio"><%= slot[:value] %></textarea>
      </label>
    </div>
  </div>
</form>