<div class="absolute bottom-0 right-0 w-full h-full overflow-y-auto">
  <div :if={@select_id}>
    <!-- attrs -->
    <div id="ld-attrs-panel" :if={@select_component.attrs !=[]}>
      <LiveEditorWeb.Panels.editor_attrs {assigns}/>
    </div>

    <!-- slots -->
    <div id="ld-slots-panel" :if={@select_component.slots !=[]}>
      <LiveEditorWeb.Panels.editor_slots {assigns}/>
    </div>
  </div>
</div>
