<div id="ld-left-panel-navigator" class="ld-left-panel" x-cloak x-transition x-show="open_panel == 'navigator'">
  <div class="m-4 text-2xl">Navigator</div>
  <nav class="px-2">
    <.nav_item :for={item<-@nav_items} item={item} />
  </nav>
</div>